
# HTID:12335522: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:12335522:
AddType application/x-httpd-php .html
AddType application/x-httpd-php .htm