/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

button {
  min-width: 60px;
}

.fa-stop-circle {
  color: white !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  width: 7px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  width: 1em;
  background-color: black;
  outline: 1px solid slategrey;
  border-radius: 1rem;
}

.text-small {
  font-size: 1.2rem;
}

.messages-box,
.chat-box {
  height: 510px;
  overflow-y: scroll;
}

.chat-box {
	border-bottom: 1px solid gray !important;
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.modal-content {
	border-radius: 0rem !important;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.custom-select {
  border-radius: 0rem !important;
}

input::placeholder {
  font-size: 1rem;
  color: #999;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
  min-height: 60px;
}

.btn {
  border-radius: 0rem !important;
 }

.display-4 {
  font-size: 2.5rem !important;
}

audio {
  display: none;
}